//*------------------------------------*
//  #BASE-COLORS
//*------------------------------------*

// Background Colors
.bgc-white      { background-color: $white; }
.bgc-blue       { background-color: $blue-color; }
.bgc-red        { background-color: $red-color; }
.bgc-green      { background-color: $green-color; }
.bgc-yellow     { background-color: $yellow-color; }