.avatar-container {
  cursor: pointer !important;
  .avatar-image {
    border-radius: 50%;
    background-color: $light;
    display: inline-block;
    float: left;
    overflow: hidden;
  }
  .content{
    float: left;
    display: inline-block;
  }
  &.is-{
    &24x24{
      line-height: 24px;
      height: 24px;
      .avatar-image, .content, img{
        height: 24px;
        max-height: 24px;
        line-height: 24px;
      }
      .avatar-image{ width: 24px; }
    }
    &36x36{
      line-height: 36px;
      height: 36px;
      .avatar-image, .content, img{
        height: 36px;
        max-height: 36px;
        line-height: 36px;
      }
      .avatar-image{ width: 36px; }
    }
    &48x48{
      line-height: 48px;
      height: 48px;
      .avatar-image, .content, img{
        height: 48px;
        max-height: 48px;
        line-height: 48px;
      }
      .avatar-image{ width: 48px; }
    }
    &52x52{
      line-height: 52px;
      height: 52px;
      .avatar-image, .content, img{
        height: 52px;
        max-height: 52px;
        line-height: 52px;
      }
      .avatar-image{ width: 52px; }
    }
  }
}