.card {
  width: 320px;
  margin: 0 auto;
  @include media-query(palm) {
    width: 100%;
  }
  &-image{
    width: 100%;
  }
  &-content{
    .c-subtitle{
      vertical-align: middle;
      .icon, .image{
        &.is-light{
          opacity: .25;
        }
      }
      .icon, .image, .text {
        vertical-align: middle;
      }
    }
  }
  &-footer{
    .is-star{
      cursor: pointer;
    }
    .icon, .image{
      &.is-light{
        opacity: .25;
        &:hover{
          cursor: pointer;
          opacity: .4;
        }
      }
    }
  }
}