<style lang="scss">
</style>
<template>
  <layout-pintball>
    <section class="columns is-multiline">
      <div class="column" v-for="(source, key) in arrayList" :key="key" :class="{['is-'.concat(12 / columns)]: true}">
        <transition-group name="list" mode="out-i">
          <p-card :content="content" class="mb+" v-for="(content, s) in source" :key="s"></p-card>
        </transition-group>
      </div>
      <div class="column is-12 has-text-centered mt">
        <a class="title is-size-5 has-text-grey-light is-unselectable" :class="{'is-underline': over}" @mouseover="over = true" @mouseout="over = false" @click="loadMore">Load more +</a>
      </div>
    </section>
  </layout-pintball>
</template>
<script>
import LayoutPintball from '../layout/LayoutPintball'
import PCard from '../components/card'
import movies from '../data/movies'

// Data
const data = () => ({
  numerOfCards: 21,
  moviesSource: movies.slice(0),
  moviesRepeat: 5,
  showMore: 2,
  columns: 4,
  windownsWidth: window.innerWidth,
  columnList: {
    1: [],
    2: [],
    3: [],
    4: []
  },
  arrayList: [],
  over: false,
  search: ''
})
// Props
const props = {}
// Components
const components = {
  LayoutPintball,
  PCard
}
// Methods
const methods = {
  loadMore () {
    movies.forEach((element) => {
      this.moviesSource.push(element)
    })
    this.divideColumns()
  },
  setColumns (_size) {
    // Get column number
    switch (true) {
      case (_size >= 1216):
        this.columns = 4
        break
      case (_size >= 1024 && _size < 1215):
        this.columns = 3
        break
      case (_size >= 769 && _size < 1023):
        this.columns = 2
        break
      default:
        this.columns = 1
        break
    }
  },
  divideColumns () {
    this.arrayList = []
    let count = 0
    let list = []
    for (let index = 0; index < this.columns; index++) {
      list[index] = []
    }
    this.moviesSource.filter((item) => {
      // eslint-disable-next-line
      return item.category.toLowerCase().indexOf(this.search.toLowerCase()) !== -1;
    }).forEach((element) => {
      list[count].push(element)
      count += 1
      if (count === this.columns) {
        count = 0
      }
    })
    Object.keys(list).forEach((key) => {
      this.arrayList.push(list[key])
    })
  }
}
// Computed
const computed = {
  searchUpdate () {
    const s = this.$store.getters['ModuleSearch/getSearch']
    return s
  }
}
// Before Destroy
const beforeDestroy = () => {}
// Export Component
export default {
  created () {
    window.addEventListener('resize', () => {
      this.windownsWidth = window.innerWidth
    })
    this.setColumns(window.innerWidth)
    this.divideColumns()
  },
  data,
  props,
  components,
  methods,
  computed,
  mounted () {
    window.addEventListener('resize', () => {
      this.windownsWidth = window.innerWidth
    })
  },
  beforeDestroy,
  watch: {
    windownsWidth (val) {
      this.setColumns(val)
    },
    columns (val) {
      this.divideColumns()
    },
    searchUpdate (val) {
      this.search = val
      this.divideColumns()
    }
  }
}
</script>
