//*------------------------------------*
//  #TOOLS-MIXINS
//*------------------------------------*


//Fonts mixin
@mixin font-size($font-size) {
  font-size: $font-size;
  font-size: ($font-size / $base-font-size) * 1rem;
}

//Z-depth mixin
@mixin z-depth($z-depth, $color, $color2, $color3) {
  @if $z-depth == 1 {
      box-shadow: 0 3px 1px -2px $color, 0 2px 2px 0 $color2, 0 1px 5px 0 $color3;
  } @else if $z-depth == 2 {
      box-shadow: 0 2px 4px -1px $color, 0 4px 5px 0 $color2, 0 1px 10px 0 $color3;
  } @else if $z-depth == 3 {
      box-shadow: 0 3px 5px -1px $color, 0 6px 10px 0 $color2, 0 1px 18px 0 $color3;
  } @else if $z-depth == 4 {
      box-shadow: 0 5px 5px -3px $color, 0 8px 10px 1px $color2, 0 3px 14px 2px $color3;
  } @else if $z-depth == 5 {
      box-shadow: 0 8px 10px -5px $color, 0 16px 24px 2px $color2, 0 6px 30px 5px $color3;
  }
}