<style lang="scss">
</style>
<template>
  <div class="avatar-container is-36x36">
    <figure class="avatar-image mr">
      <img :src="profile.avatar" alt="Placeholder image">
    </figure>
    <div class="content">
      <span class="title is-size-6">{{profile.name}}</span>
    </div>
  </div>
</template>
<script>
// Data
const data = () => ({})
// Props
const props = {
  profile: {}
}
// Components
const components = {}
// Methods
const methods = {}
// Computed
const computed = {}
// Before Destroy
const beforeDestroy = () => {}
// Export Component
export default {
  anem: 'p-avatar',
  created () {},
  data,
  props,
  components,
  methods,
  computed,
  mounted () {},
  beforeDestroy
}
</script>
