<style lang="scss">
</style>
<template>
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <img :src="content.image.src" :alt="content.image.alt">
      </figure>
    </div>
    <div class="card-content has-text-left">
      <h2 class="title is-size-5 mb-">{{content.title}}</h2>
      <p class="c-subtitle mb">
        <img :src="icons.category" alt="Categoria" class="icon is-light mr-">
        <span class="text title is-size-6 has-text-grey-light ">{{content.category}}</span>
      </p>
      <p class="is-size-6 mt+">
        {{content.description}}
      </p>
    </div>
    <div class="card-footer level p+ is-flex-mobile">
      <div class="level-left">
        <img :src="key < content.score ? icons.star : icons.starBordered" alt="" v-for="(icon, key) in numberStart" :key="key" class="has-text-link is-star">
      </div>
      <div class="level-right mt0">
        <img :src="icons.facebook" alt="Categoria" class="icon is-light mr-">
      </div>
    </div>
  </div>
</template>
<script>
import icons from '../data/icons'

// Data
const data = () => ({
  numberStart: 4,
  icons: icons
})
// Props
const props = {
  content: {
    type: Object,
    default: () => ({
      title: 'Card Title',
      image: {
        src: '',
        alt: 'Card Image'
      },
      category: 'Category',
      description: 'Dolore ex incididunt ea elit esse ipsum excepteur nulla laborum qui ea.',
      score: 2
    })
  }
}
// Components
const components = {}
// Methods
const methods = {}
// Computed
const computed = {}
// Before Destroy
const beforeDestroy = () => {}
// Export Component
export default {
  name: 'p-card',
  created () {},
  data,
  props,
  components,
  methods,
  computed,
  mounted () {},
  beforeDestroy
}
</script>
