<style lang="scss">
</style>
<template>
  <div class="search-container">
    <div class="control has-icons-right has-icons-right is-hidden-mobile">
      <input class="input" type="email" placeholder="Search" @input="inputSearch($event.target.value)">
      <span class="search-icon icon is-right">
        <img :src="search" alt="Search">
      </span>
    </div>
    <div class="field has-addons">
      <p class="control">
        <button class="button is-medium is-hidden-tablet is-hidden-desktop is-hidden-widescreen is-hidden-fullhd" @click.prevent="showSearch">
          <span class="icon">
            <img :src="search" alt="Search">
          </span>
        </button>
      </p>
      <p class="control" v-show="isOpen">
        <input class="input is-medium" @input="inputSearch($event.target.value)" ref="searchInput" type="email" placeholder="Search" @blur="leaveSearch">
      </p>
    </div>
  </div>
</template>
<script>
const search = require('../assets/ic_search_black_24px.svg')

// Data
const data = () => ({
  search: search,
  isOpen: false
})
// Props
const props = {}
// Components
const components = {}
// Methods
const methods = {
  inputSearch (_value) {
    this.$store.dispatch('ModuleSearch/SEARCH', _value)
  },
  showSearch () {
    this.isOpen = !this.isOpen
    this.emitSearchChange()
    setTimeout(() => {
      this.$refs.searchInput.focus()
    }, 5)
  },
  leaveSearch () {
    this.isOpen = !this.isOpen
    this.emitSearchChange()
  },
  emitSearchChange () {
    this.$emit('searchOpen', this.isOpen)
  }
}
// Computed
const computed = {}
// Before Destroy
const beforeDestroy = () => {}
// Export Component
export default {
  anem: 'p-search',
  created () {},
  data,
  props,
  components,
  methods,
  computed,
  mounted () {},
  beforeDestroy
}
</script>
