//*------------------------------------*
//  #SETTINGS-COLORS
//*------------------------------------*

// IOS Colors Pallete
$red-color:         rgba(255,59,47,1)   !default;
$orange-color:      rgba(255,149,0,1)   !default;
$yellow-color:      rgb(255, 204, 0)   !default;
$green-color:       rgba(76,217,100,1)  !default;
$teal-color:        rgba(90,200,250,1)  !default;
$blue-color:        rgba(0,122,255,1)   !default;
$purple-color:      rgba(86,84,214,1)   !default;
$pink-color:        rgba(255,85,45,1)   !default;

// // Z depth Colors
// $z-light-color-14:    rgba(151, 151, 151,.14)  !default;
// $z-light-color-098:   rgba(151, 151, 151,.098) !default;
// $z-light-color-084:   rgba(151, 151, 151,.084) !default;
// $z-primary-color-14:    rgba(34,208,178,.14)  !default;
// $z-primary-color-098:   rgba(34,208,178,.098) !default;
// $z-primary-color-084:   rgba(34,208,178,.084) !default;
// $z-link-color-14:       rgba(55,118,218,.14)  !default;
// $z-link-color-098:      rgba(55,118,218,.098) !default;
// $z-link-color-084:      rgba(55,118,218,.084) !default;
// $z-danger-color-14:     rgba(253,60,99,.14)   !default;
// $z-danger-color-098:    rgba(253,60,99,.098)  !default;
// $z-danger-color-084:    rgba(253,60,99,.084)  !default;
// $z-info-color-14:       rgba(44,157,236,.14)  !default;
// $z-info-color-098:      rgba(44,157,236,.098) !default;
// $z-info-color-084:      rgba(44,157,236,.084) !default;
// $z-success-color-14:    rgba(50,208,101,.14)  !default;
// $z-success-color-098:   rgba(50,208,101,.098) !default;
// $z-success-color-084:   rgba(50,208,101,.084) !default;
// $z-warning-color-14:    rgba(254,221,99,.14)  !default;
// $z-warning-color-098:   rgba(254,221,99,.098) !default;
// $z-warning-color-084:   rgba(254,221,99,.084) !default;

//Sizes
$size-xl:           20pt    !default;
$size-l:            17pt    !default;
$size-m:            15pt    !default;
$size-s:            13pt    !default;
$size-xs:           11pt    !default;

//Grey
$grey:              #1b1d1f                 !default;

// Black
$black:             #000000;
$black-1:           rgba(0, 0, 0, 0.87)     !default;
$black-2:           rgba(33, 33, 33, 1)    !default;
$black-3:           rgba(0, 0, 0, 0.38)     !default;
$black-4:           rgba(0, 0, 0, 0.12)     !default;
$black-5:           rgba(0, 0, 0, 0.02)     !default;

// White
$white:             #FFFFFF;
$white-1:           #FFFFFF;
$white-2:           rgba(255, 255, 255, 0.70);
$white-3:           rgba(255, 255, 255, 0.30);
$white-4:           rgba(255, 255, 255, 0.12);