//*------------------------------------*
//  #SETTINGS-DEFAULT
//*------------------------------------*

// High-level settings
$base-font-size:            12pt        !default;
$base-line-height:          16pt        !default;
$base-text-color:           $black-1    !default;
$base-backgroun-color:      $white      !default;
$base-corner-radius:        2pt         !default;
$base-text-letter-spacing:  1.65pt      !default;
$base-btn-letter-spacing:   .05em       !default;

$base-spacing-unit:         4pt;
$base-transition-duration:  .265s;