<style lang="sass">
  @import "../styles/app.sass";
</style>
<template>
  <section class="hero layout is-light is-fullheight">
    <div class="hero-head bgc-white">
      <header class="container p pl+ pr+">
        <nav class="level pt pb is-flex-mobile">
          <p class="level-left is-hidden-tablet is-hidden-desktop is-hidden-widescreen is-hidden-fullhd">
            <button class="button is-medium">
              <span class="icon">
                <img :src="menu" alt="">
              </span>
            </button>
          </p>
          <p class="level-left" v-if="!searchStatus">
            <button class="button mr+ is-hidden-mobile">
              <span class="icon">
                <img :src="menu" alt="">
              </span>
            </button>
            <a class="logo">
              <img :src="logo" alt="Pintball" width="120">
            </a>
          </p>
          <p class="level-item has-text-centered m0">
            <p-search v-on:searchOpen="searchChange"></p-search>
          </p>
          <p class="level-right is-hidden-mobile">
            <a class="link is-info"><p-avatar :profile="profile"></p-avatar></a>
          </p>
        </nav>
      </header>
    </div>
    <main class="hero-body">
      <div class="container has-text-centered p++ pt0">
        <slot></slot>
      </div>
    </main>
    <footer class="hero-foot">Footer</footer>
  </section>
</template>
<script>
import PAvatar from '../components/avatar'
import PSearch from '../components/search'

const logo = require('../assets/logo.png')
const avatar = require('../assets/avatar.png')
const menu = require('../assets/ic_menu_black_24px.svg')

// Data
const data = () => ({
  logo: logo,
  menu: menu,
  profile: {
    avatar: avatar,
    name: 'Kelvin Arnold'
  },
  searchStatus: false
})
// Props
const props = {}
// Components
const components = {
  PAvatar,
  PSearch
}
// Methods
const methods = {
  searchChange (val) {
    this.searchStatus = val
  }
}
// Computed
const computed = {}
// Before Destroy
const beforeDestroy = () => {}
// Export Component
export default {
  name: 'layout-pintball',
  created () {},
  data,
  props,
  components,
  methods,
  computed,
  mounted () {},
  beforeDestroy
}
</script>
